<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イベント登録</title>
</head>
<body>
    <h1>イベント登録</h1>
    <!-- フォームの作成 -->
    <form method="POST" action="{{ url_for('create_events') }}" enctype="multipart/form-data">
        <label for="name">イベント名:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="content">コメント:</label>
        <input type="text" id="content" name="content" required><br><br>
        
        <label for="start_date">開始日時:</label>
        <input type="datetime-local" id="start_date" name="start_date" required><br><br>

        <label for="end_date">終了日時:</label>
        <input type="datetime-local" id="end_date" name="end_date" required><br><br>

        <label for="place">場所:</label>
        <input type="text" id="place" name="place" required><br><br>
        
        <label for="address">住所:</label>
        <input type="text" id="address" name="address" required><br><br>

        <!-- URL入力フィールドを追加 -->
        <label for="url">URL(無ければ記入しなくても良いです):</label>
        <input type="url" id="url" name="url"><br><br>
        
        <!-- 画像アップロード用のフォーム -->
        <label for="image">画像を選択:</label>
        <input type="file" name="image" id="image" accept="image/*">

        <input type="submit" value="イベントを作成">
    </form>
    <br>
    <a href="{{ url_for('index') }}">イベント一覧を見る</a>
</body>
</html>


