<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.name }}の詳細</title>
</head>
<body>
    <h1>{{ event.name }}の詳細</h1>
    <p><strong>紹介:</strong> {{ event.content }}</p>

    <p><strong>場所:</strong> {{ event.place }}</p>
    <p><strong>住所:</strong> {{ event.address }}</p>
    <p><strong>URL:</strong> <a href="{{ event.url }}">{{ event.url }}</a></p>
    
    <p>
        {% if event.start_date is not none %}
            {{ event.get_start_date() }}
        {% endif %}
        {% if event.end_date is not none %}
            to {{ event.get_end_date() }}
        {% endif %}
    </p> 
    </p>

<!-- アップロードされた画像の表示 -->
    {% if event.image %}
    <img src="{{ url_for('static', filename='uploads/' + event.image) }}" alt="Event Image" width="300">
    {% endif %}

    <!-- 画像アップロード用のフォーム -->
    <form action="{{ url_for('upload_image', event_id=event.id) }}" method="post" enctype="multipart/form-data">
        <label for="image">画像を選択:</label>
        <input type="file" name="image" id="image" accept="image/*">
        <button type="submit">画像をアップロード</button>       
    </form>
    
    <a href="{{ url_for('index') }}">イベント一覧に戻る</a>

</body>
</html>
