<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.name }}の詳細</title>
</head>
<body>
    <h1>{{ event.name }}の詳細</h1>
    <p><strong>紹介:</strong> {{ event.content }}</p>

    <p><strong>場所:</strong> {{ event.place }}</p>
    <p><strong>住所:</strong> {{ event.address }}</p>
    <p><strong>URL:</strong> <a href="{{ event.url }}">{{ event.url }}</a></p>
    
    <p>
        {% if event.start_date is not none %}
            {{ event.get_start_date() }}
        {% endif %}
        {% if event.end_date is not none %}
            to {{ event.get_end_date() }}
        {% endif %}
    </p>
<!-- アップロードされた画像の表示 -->
        {% if images %}
            <h2>Event Images</h2>
            {% for image in images %}
                <!-- 画像のURLを生成 -->
                <img src="{{ url_for('static', filename='uploads/' + image.image_path.split('/')[-1]) }}" alt="Event Image" style="max-width: 300px;">
            {% endfor %}
        {% else %}
            <p>No images uploaded for this event.</p>
    {% endif %}

    <!-- 画像アップロードフォーム -->
    <h2>画像を新規投稿</h2>
    <form action="{{ url_for('event_detail', event_id=event.id) }}" method="POST" enctype="multipart/form-data">
        <label for="image">画像を選択:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <button type="submit">投稿</button>
    </form>


    
    <a href="{{ url_for('index') }}">イベント一覧に戻る</a>

</body>
</html>
