<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イベント一覧</title>
</head>
<body>
   <div class="page">
       <h1><a href="{{ url_for('index') }}">どこいこ(仮)アプリ</a></h1>
       <div class="metanav">
           {% if not current_user.is_authenticated %}
               <a href="{{ url_for('user_bp.login') }}">LogIn</a>
               <a href="{{ url_for('user_bp.register') }}">Register</a>
           {% else %}
               <a href="{{ url_for('user_bp.logout') }}">LogOut</a>
           {% endif %}
       </div>

    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}

    {% if current_user.is_authenticated %}
        <p>{{ current_user.name }} さんこんにちは</p>
    {% else %}
        <p>ログインしていません</p>
    {% endif %}

    <h2>イベント一覧</h2>
    <ul>
        {% for event in events %}
        <li>
            <!-- イベント名をクリック可能なリンクに変更 -->
            <a href="{{ url_for('event_detail', event_id=event.id) }}">{{ event.name }}</a>
            - {{ event.content }}
            - {{ event.date }}
            - {{ event.place }}
            - {{ event.address }}
            {% if event.url %}
            - <a href="{{ event.url }}" target="_blank">リンク</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create_events') }}">イベントを登録する</a>
</body>

</html>
